.closeBtn {
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
    width: 24px;
    height: 24px;
}


/* ---------- Variants ---------- */

/* Glass modern */
.glass {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.glass:hover {
    background: rgba(255, 255, 255, 0.9);
    transform: scale(1.08);
}

/* Soft UI */
.soft {
    background: #f1f3f5;
}

.soft:hover {
    background: #e4e6eb;
    transform: scale(1.08);
}

/* Dark mode */
.dark {
    background: #111;
    color: white;
}

.dark:hover {
    background: #000;
    transform: scale(1.08);
}

.icon,
.icon2 {
    position: absolute;
    width: 18px;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    transition: 0.3s;
}

.icon {
    transform: rotate(45deg);
}

.icon2 {
    transform: rotate(-45deg);
}

/* hover animation */
.closeBtn:hover .icon {
    transform: rotate(135deg);
}

.closeBtn:hover .icon2 {
    transform: rotate(-135deg);
}

/* click effect */
.closeBtn:active {
    transform: scale(0.9);
}