.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
    padding: 2rem 1rem;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.add {
    position: fixed;
    right: 40px;
    bottom: 40px;

    height: 56px;
    width: 56px;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0 16px;
    z-index: 1000;
    border-radius: 50px;
    background: linear-gradient(135deg, #008cff, #0066ff);
    color: white;

    cursor: pointer;
    overflow: hidden;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);

    transition: width 0.3s ease, transform 0.2s ease;
}

.add:hover {
    width: 160px;
    transform: translateY(-2px);
}

.icon {
    min-width: 24px;
}

.text {
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    font-weight: 500;
    font-size: 14px;
}

.add:hover .text {
    opacity: 1;
    transform: translateX(10px);
}

@media (max-width: 480px) {
    .mainContent{
        padding-top: 4rem;
    }
}