.head {
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
    font-weight: 700;
    line-height: 1;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0;
}

.head span {
    font-size: clamp(0.75rem, 1.2vw, 0.95rem);
    background-color: rgb(0, 132, 255);
    color: white;

    padding: clamp(0.25rem, 0.5vw, 0.4rem) clamp(0.6rem, 1vw, 0.9rem);

    border-radius: 999px;
    font-weight: 500;
}

.sub {
    color: gray;
    margin: 0;
}

.seper {
    width: 90%;
}